<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Likes</title>
    <link rel="stylesheet" href="/css/likes.css">
</head>
<body>

<header>
    <div  th:replace="/fragments/nav-header:: list-frag"></div>
</header>

<img id="gitDateLogo" src="img/gitDateLogo.png" alt="gitDateLogo" style="width:150px;height:auto">


<h2>Who I Like</h2>
<ul th:each="likedUser : ${usersILike}">
    <li th:text="${likedUser.firstName + likedUser.lastName + ', ' +  likedUser.age}"></li>
</ul>

<h2>Who likes me</h2>
<ul th:each="userThatLike : ${usersWhoLikeMe}">
    <li th:text="${userThatLike.firstName + userThatLike.lastName + ', ' + userThatLike.age}"></li>
</ul>

<footer>
    <p id="footer">&copy; Sharmarke Nur, Adrian Hernandez, Devon Terry, and Ryan Papsin.</p>
</footer>

</body>
</html>

