<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Likes</title>
</head>
<body>

<!--<form th:action="${'/like-user/' + viewUserId}" th:method="PUT">-->
<!--    <input type="hidden" th:value="${viewUsername}">-->
<!--    <input type="submit" value="Like User" th:disabled="${authUserName.equals(viewUserName)}">-->
<!--</form>-->
<h2>Who I Like</h2>
<ul th:each="likedUser : ${usersILike}">
    <li th:text="${likedUser.firstName + likedUser.lastName + ', ' +  likedUser.age}"></li>
</ul>

<h2>Who likes me</h2>
<ul th:each="userThatLike : ${usersWhoLikeMe}">
    <li th:text="${userThatLike.firstName + userThatLike.lastName + ', ' + userThatLike.age}"></li>
</ul>
</body>
</html>

