<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<header>
    <div  th:replace="/fragments/nav-header:: list-frag"></div>
</header>

<img id="gitDateLogo" src="img/gitDateLogo.png" alt="gitDateLogo" style="width:150px;height:auto">

<div class="container">

<form action="/login" method="POST">
    <p>Sign In Here</p>

    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Sign in"><br>

</form>
    </div>

    <footer>
        <p id="footer">&copy; Sharmarke Nur, Adrian Hernandez, Devon Terry, and Ryan Papsin.</p>
    </footer>
</body>
</html>