<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY PROFILE</title>

    <link rel="stylesheet" href="/css/myProfile.css">
</head>
<body>

<header>
    <div  th:replace="/fragments/nav-header:: list-frag"></div>
</header>

<img id="gitDateLogo" src="img/gitDateLogo.png" alt="gitDateLogo" style="width:150px;height:auto">

<h1 th:text="${'Hello, ' + authUser.username + '. Welcome to your profile!'}"></h1>

<img src="https://via.placeholder.com/150 "/>

<div class="carouselContainer">
<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
        <li id="carousel__slide1"
            tabindex="0"
            class="carousel__slide">
            <div class="carousel__snapper">
                                <h2 id="slideOneTitle" th:text="${'Username: ' + authUser.username}"></h2>
                                <h2 id="slideOne" th:text="${authUser.firstName + ' ' + authUser.lastName}" ></h2>
                                <h2 id="slideOne" th:text="${authUser.age}"></h2>
                                <h2 id="slideOne" th:text="${authUser.gender}"></h2>
                <a href="#carousel__slide4"
                   class="carousel__prev">Go to last slide</a>
                <a href="#carousel__slide2"
                   class="carousel__next">Go to next slide</a>
            </div>
        </li>
        <li id="carousel__slide2"
            tabindex="0"
            class="carousel__slide">
            <div class="carousel__snapper"></div>
            <h2 id="slideTwoTitle">Bio</h2>
            <h2 id="slideTwo" th:text="${authUser.bio}"></h2>
            <a href="#carousel__slide1"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3"
               class="carousel__next">Go to next slide</a>
        </li>
        <li id="carousel__slide3"
            tabindex="0"
            class="carousel__slide">
            <div class="carousel__snapper"></div>
            <h2 id="slideThreeTitle">Interest</h2>
            <h2 id="slideThree" th:text="${authUser.interests}"></h2>
            <a href="#carousel__slide2"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide4"
               class="carousel__next">Go to next slide</a>
        </li>
    </ol>
    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            <li class="carousel__navigation-item">
                <a href="#carousel__slide1"
                   class="carousel__navigation-button"></a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide2"
                   class="carousel__navigation-button"></a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide3"
                   class="carousel__navigation-button"></a>
            </li>
            <li class="carousel__navigation-item">
                <a href="#carousel__slide4"
                   class="carousel__navigation-button"></a>
            </li>
        </ol>
    </aside>
</section>
</div>
<div id="textArea">
<h2 id="addPostTitle">ADD POST</h2>
<form action="/myProfile" method="POST">
    <textarea id="postTextBox" name="body" rows="4" cols="50" placeholder="Post Here"></textarea>
    <input id="postButton" type="submit" value="Submit"/>
</form>
</div>

<div id="postBlock">
<h2 id="userPostTitle"></h2>
<ul  th:each="post : ${authUser.listOfPost}">
    <li id="individualPost" th:text="${post.body}"></li>
<form th:action="${'/myProfile/' + post.id}" th:method="DELETE">
    <input id="deleteButton" type="submit" value="DELETE"/>
</form>
</ul>
</div>
<div id="commentBlock">
<h2 id="commentPostTitle">Visiting User Comment</h2>
<ul th:each="comment : ${authUser.listOfComment}">
    <li id="individualComment" th:text="${comment.body}"></li>
</ul>
</div>
<footer>
    <p id="footer">&copy; Sharmarke Nur, Adrian Hernandez, Devon Terry, and Ryan Papsin.</p>
</footer>
</body>
</html>