<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>All Users</title>
  <link rel="stylesheet" href="css/search.css">
</head>
<body>

<header>
  <div  th:replace="/fragments/nav-header:: list-frag"></div>
</header>

<img id="gitDateLogo" src="img/gitDateLogo.png" alt="gitDateLogo" style="width:150px;height:auto">

<div>

  <div th:each="user : ${viewAllUsers}">
    <img src="https://via.placeholder.com/150">
    <div th:text="${'First Name: ' + user.firstName}"></div>
    <div th:text="${'Age: ' + user.age}"></div>
    <div th:text="${'Bio: ' + user.bio}"></div>
  </div>
</div>
<p>Hello</p>

<form th:action="${'/search/results'}" method="GET">
  <label>Gender Orientation</label>
  <input name=key type="text" th:value="${key}"/>
  <input type="submit" value="filter"/>
</form>
<footer>
  <p id="footer">&copy; Sharmarke Nur, Adrian Hernandez, Devon Terry, and Ryan Papsin.</p>
</footer>
</body>
</html>