<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
<div id="container">

    <h1>Sign Up!</h1>

    <form action="/signup" method="POST">

        <div id="signUpInfo">

            <div class="inputBox">
                <label class="info">Username</label>
                <input type="text" name="username" placeholder="Username">
            <div/>

            <div class="inputBox">
                <label class="info">Password</label>
                <input type="password" name="password" placeholder="********">
                <div/>

                <div class="inputBox">
                    <label class="info">First Name</label>
                    <input type="text" name="firstName" placeholder="First Name">
                    <div/>

                    <div class="inputBox">
                        <label class="info">Last Name</label>
                        <input type="text" name="lastName" placeholder="Last Name">
                        <div/>

                        <div class="inputBox">
                            <label class="info">Age</label>
                            <input type="text" name="age" placeholder="##" pattern="[0-9]{2}">
                            <div/>

                            <div class="inputBox">
                                <label class="info">Bio</label>
                                <textarea type="bio" name="bio" placeholder="Type Bio Here" rows="5"
                                          cols="75"></textarea>
                                <div/>

                                <div class="inputBox">
                                    <label class="info">Interests</label>
                                    <input type="text" name="interests" placeholder="Add Interest Here">
                                    <div/>


                                    <div class="gender">
                                        <input type="radio" name="gender" id="option1">
                                        <input type="radio" name="gender" id="option2">
                                        <input type="radio" name="gender" id="option3">
                                        <span class="gender__title">Gender</span>
                                        <div class="category">
                                            <label for="option1">
                                                <span class="dot one"></span>
                                                <span>Male</span>
                                            </label>
                                            <label for="option2">
                                                <span class="dot two"></span>
                                                <span>Female</span>
                                            </label>
                                            <label for="option3">
                                                <span class="dot three"></span>
                                                <span>Everyone Else</span>
                                            </label>
                                        </div>

                                        <input type="submit" value="Sign Up">
                                    </div>
    </form>
</div>
</body>
</html>