<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/user-info.css">
    <title>User Page</title>
    <link rel="stylesheet" href="/css/user-info.css">
</head>
<body>

<header>
    <div  th:replace="/fragments/nav-header:: list-frag"></div>
</header>

<img id="gitDateLogo" src="/img/gitDateLogo.png" alt="gitDateLogo" style="width:150px;height:auto">

<img src="https://via.placeholder.com/150 "/>


<div class="carouselContainer">
    <section class="carousel" aria-label="Gallery">
        <ol class="carousel__viewport">
            <li id="carousel__slide1"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper">
                    <h2 id="slideOneTitle" th:text="${'Username: ' + authUser.username}"></h2>
                    <h2 id="slideOne" th:text="${authUser.firstName + ' ' + authUser.lastName}" ></h2>
                    <h2 id="slideOne" th:text="${authUser.age}"></h2>
                    <h2 id="slideOne" th:text="${authUser.gender}"></h2>
                    <a href="#carousel__slide4"
                       class="carousel__prev">Go to last slide</a>
                    <a href="#carousel__slide2"
                       class="carousel__next">Go to next slide</a>
                </div>
            </li>
            <li id="carousel__slide2"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper"></div>
                <h2 id="slideTwoTitle">Bio</h2>
                <h2 id="slideTwo" th:text="${authUser.bio}"></h2>
                <a href="#carousel__slide1"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide3"
                   class="carousel__next">Go to next slide</a>
            </li>
            <li id="carousel__slide3"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper"></div>
                <h2 id="slideThreeTitle">Interest</h2>
                <h2 id="slideThree" th:text="${authUser.interests}"></h2>
                <a href="#carousel__slide2"
                   class="carousel__prev">Go to previous slide</a>
                <a href="#carousel__slide4"
                   class="carousel__next">Go to next slide</a>
            </li>
        </ol>
        <aside class="carousel__navigation">
            <ol class="carousel__navigation-list">
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide1"
                       class="carousel__navigation-button"></a>
                </li>
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide2"
                       class="carousel__navigation-button"></a>
                </li>
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide3"
                       class="carousel__navigation-button"></a>
                </li>
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide4"
                       class="carousel__navigation-button"></a>
                </li>
            </ol>
        </aside>
    </section>
</div>
<form id="editForm" th:action="${'/user/' + authUser.id}" th:method="PUT">
    <label for="username">Username</label>
    <input type="text" name="username" th:disabled="${!viewUser.username.equals(authUser.username)}"/>
    <input type="submit" value="Edit User Info"/>
</form>

<form id="likeForm" th:action="${'/likes/' + viewUser.id}" th:method="PUT" >
    <input type="hidden" th:value="${viewUser.username}">
    <input type="submit" value="Like User" th:hidden="${viewUser.username.equals(authUser.username)}">
</form>

<div id="postBlock">
<h2 id="postH2">User Post</h2>
<ul th:each="post : ${viewUser.listOfPost}">
    <li th:text="${post.body}"></li>
</ul>
</div>

<div id="commentTextArea">
<h2 id="commentH2">Add Comment</h2>
<form id="addCommentForm" th:action="${'/user/' + viewUser.id}" th:method="POST">
    <textarea name="body" rows="4" cols="50" placeholder="COMMENT"></textarea>
    <input id="commentButton" type="submit" value="Submit"/>
</form>

<div id="commentBlock">
<h2 id="visitorCommentH2"></h2>
<ul th:each="comment : ${viewUser.listOfComment}">
    <li th:text="${comment.body}"></li>
</ul>
</div>


<footer>
    <p id="footer">&copy; Sharmarke Nur, Adrian Hernandez, Devon Terry, and Ryan Papsin.</p>
</footer>

</body>
</html>



