<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="/css/user-info.css">
</head>
<body>

<header>
    <div  th:replace="/fragments/nav-header:: list-frag"></div>
</header>

<img id="gitDateLogo" src="img/gitDateLogo.png" alt="gitDateLogo" style="width:150px;height:auto">

    <h2 th:text="${'Username: ' + viewUser.username}"></h2>
    <h2 th:text="${'First Name: ' + viewUser.firstName}"></h2>
    <h2 th:text="${'Last Name: ' + viewUser.lastName}"></h2>
    <h2 th:text="${'Age: ' + viewUser.age}"></h2>
    <h2 th:text="${'Bio: ' + viewUser.bio}"></h2>
    <h2 th:text="${'Interests: ' + viewUser.interests}"></h2>
    <h2 th:text="${'Gender: ' + viewUser.gender}"></h2>

<form th:action="${'/likes/' + viewUser.id}" th:method="PUT">
    <input type="hidden" th:value="${viewUser.username}">
    <input type="submit" value="Like User" th:hidden="${viewUser.username.equals(authUser.username)}">
</form>

<h2>User Post</h2>
<ul th:each="post : ${viewUser.listOfPost}">
    <li th:text="${post.body}"></li>
</ul>

<h2>ADD COMMENT</h2>
<form th:action="${'/user/' + viewUser.id}" th:method="POST">
    <textarea name="body" rows="4" cols="150" placeholder="COMMENT"></textarea>
    <input type="submit" value="ADD COMMENT"/>
</form>

<h2>Visiting User Comment</h2>
<ul th:each="comment : ${viewUser.listOfComment}">
    <li th:text="${comment.body}"></li>
</ul>

<footer>
    <p id="footer">&copy; Sharmarke Nur, Adrian Hernandez, Devon Terry, and Ryan Papsin.</p>
</footer>

</body>
</html>