@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23cfd5);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

img{
    position:relative;
    top:-100px;
}

#title {
  font-size: 40px;
  font-weight: 800;
  position: relative;
}
.mainContainer{
  display: flex;
  margin-bottom:5em;
  justify-content: center;
  align-items: center;
}

.content{

}

.container {
  max-width: 600px;
  width: 100%;
    max-height: 800px;
    height: 100%;
  background: rgba(255,255,255,0.6);
  padding: 25px 30px;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
}

.signUpInfo{
 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  max-height: 700px;
  overflow-y: scroll;
}

.inputBox{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
  width: 100%;
}

.info{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

input{
 height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.category{
   display: flex;
   width: 100%;
   margin: 14px 0 ;
   justify-content: space-between;
       width: 100%;
       flex-direction: column;
}

label{
   display: flex;
   align-items: center;
   cursor: pointer;
}

.option{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

form input[type="radio"]{
   display: flex;
   position: relative;
   z-index:-1;
   bottom: -89px;
   width: 20px; height: 20px;
 }

  .signUpInfo::-webkit-scrollbar{
     width: 5px;
   }

     @media(max-width: 459px){
     .container .content .category{
       flex-direction: column;
     }
   }

/*HEADER CSS*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


header {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

header ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 18px;
  font-family: 'Abel', sans-serif;
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

header ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}
/*END OF HEADER CSS*/

#gitDateLogo{
border: 0;
float:right;
top:150px;
position:relative;
top:-200px;
}


#footer{
font-size:10px;
font-weight:600;
position:fixed;
 bottom:0;
 left:0;
  width: 100%;
  height: 1rem;
  color:white;
}
